body {
    background-color: lightpink;
    margin: 5px;
}

.centerPiece {
    display: flex;
    justify-content: center;

}

.eliseImg {
    /*border: #339582 2px solid;*/
    width: auto;
    height: 350px;
}

.centerWelcomeText {
    text-align: center;
    line-height: 1px;
    color: #339582;
}

.mainH1 {
    color: #339582;
    text-align: center;
}

.introductionH2, .introductionText, .textSocials {
    color: #339582;
}

.introductionText {
    font-size: 18px;
}

iframe {
    border: deeppink 3px solid;
}

.textSocials {
    text-align: center;
    font-size: 20px;
}

.pEle {
    font-size: 24px;
}

.floatLeft {
    float: left;
    margin-right: 20px;
}


/*https://codepen.io/bstonedev/pen/MWWZgKz */
.tile {
    height:400px;
    margin-top:40px;
   /* background: #ffffff;*/
    -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    /*
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
     */
}
.bottom-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
section {
    padding:20px;
}