body {
    background-color: lightpink;
    margin: 5px;
    justify-content: center;
}

.centerPiece {
    display: flex;
    justify-content: center;
}

.eliseImg {
    /*border: #339582 2px solid;*/
    width: auto;
    height: 350px;
}

.centerWelcomeText {
    text-align: center;
    /* line-height: 1px; */
    color: #339582;
}

.mainH1 {
    color: #339582;
    text-align: center;
}

.introductionH2, .introductionText, .textSocials {
    color: #339582;
}

.introductionH2 {
    text-align: center;
}

.introductionText {
    font-size: 18px;
    text-align: center;
}

.iframeTxt {
    text-align: center;
}

iframe {
    border: deeppink 3px solid;
}

.textSocials {
    text-align: center;
    font-size: 20px;
}

.pEle {
    font-size: 24px;
}

.floatDiv {
    display: inline-block;
    float: left;
    margin-right: 25px;
}


/*https://codepen.io/bstonedev/pen/MWWZgKz */
.tile {
    /*height:400px;*/
    margin-top:40px;
    /* background: #ffffff;*/
    -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
    transform: translateY(50px) rotate(-5deg) translateZ(0);
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    opacity: 0;
    /*
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
     */
}
.bottom-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
section {
    padding:20px;
}

.svgIcons {
    width: 125px;
    height: auto;
    padding: 5px;
}

/*
    https://codepen.io/sosuke/pen/Pjoqqp
 */
.twitch {
    filter: invert(50%) sepia(53%) saturate(1872%) hue-rotate(223deg) brightness(90%) contrast(89%);
}

.youtubeMain {
    filter: invert(46%) sepia(55%) saturate(442%) hue-rotate(118deg) brightness(96%) contrast(89%);
}

.youtubeVods {
    filter: invert(13%) sepia(41%) saturate(4666%) hue-rotate(347deg) brightness(97%) contrast(122%);
}

.twitter {
    filter: invert(59%) sepia(74%) saturate(1798%) hue-rotate(136deg) brightness(88%) contrast(101%);
}

.insta {
    filter: invert(56%) sepia(97%) saturate(1391%) hue-rotate(295deg) brightness(101%) contrast(100%);
}

.steam {
    filter: invert(10%) sepia(62%) saturate(6826%) hue-rotate(242deg) brightness(69%) contrast(134%);
}